@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

body {
    background-color: hsl(0, 0%, 90%);
    width: 375px;
    height: auto;
    margin: 30px 30px 30px 30px;

    font-size: 32px;
}

.header {
    display: flex;
    flex-direction: row;
    border: none;
    width: 315px;
    height: auto;
    color: hsl(60, 10%, 19%);;   
}

.logo {
    text-align: left;
    width: 50%;
    font-size: 32px;
}

.theme-div {
    display: flex;
    flex-direction: row;
    width: 50%;    
}

.theme-label {
    font-size: 14px;
    margin-top: 18px;
}

.theme-slider-div {
    display: flex;
    flex-direction: column;
}

.slide-numbers {
    font-size: 12px;
    margin-top: -4px;
    margin-left: 40px;
    letter-spacing: 6px;
}

.slider-container {
    margin-top: -6px;
    margin-left: 35px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60px;
    height: 20px;
    background-color: hsl(0, 5%, 81%);
    color: hsl(25, 98%, 40%);
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: hsl(25, 98%, 40%);
    cursor: pointer;
}

.output-screen {
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);;
    width: 315px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 28px;
    padding-right: 28px;
    text-align: right;
    
}

.numberpad-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(0, 5%, 81%);
    width: 315px;
    height: auto;
    border-radius: 10px;
    padding: 20px;

}

.button{
    background-color: hsl(45, 7%, 89%);
    font-size: 30px;
    color: hsl(60, 10%, 19%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 2px;
    padding: 15px 20px 20px 20px;
    box-shadow: 0px 6px 0px hsl(35, 11%, 61%);
    cursor: pointer;
    
}

.button:hover {
    background-color: hsl(45, 3%, 74%);
}

.button:active {
  box-shadow: 0 5px hsl(60, 1%, 72%);
  transform: translateY(4px);
}

.del-button {
    background-color: hsl(185, 42%, 37%); 
    font-size: 18px;
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 2px;
    padding: 22px 10px 7.5px 10px;
    box-shadow: 0px 6px 0px hsl(185, 42%, 27%);
    cursor: pointer;
}

.del-button:hover {
    background-color: hsl(185, 41%, 25%);
}

.del-button:active {
  box-shadow: 0 5px hsl(185, 58%, 25%);
  transform: translateY(4px);
}

.big-buttons-div {
    display: flex;
    flex-direction: row;
}

.reset-button {
    background-color: hsl(185, 42%, 37%);
    cursor: pointer;
    width: 49%;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 7px;
    margin-right: 10px;
    box-shadow: 0 5px hsl(185, 58%, 25%);
}

.reset-button:hover {
    background-color: hsl(184, 43%, 25%);
}

.reset-button:active {
  box-shadow: 0 5px hsl(185, 58%, 25%);
  transform: translateY(4px);
}

.result-button {
    background-color: hsl(25, 98%, 40%);
    color: hsl(60, 10%, 19%);
    cursor: pointer;
    font-size: 32px;
    width: 50%;
    border: none;
    border-radius: 7px;
    height: 60px;
    box-shadow: 0 5px hsl(25, 99%, 27%);
}

.result-button:hover {
    background-color: hsl(25, 97%, 28%);
}

.result-button:active {
    box-shadow: 0 5px hsl(25, 99%, 27%);
    transform: translateY(4px);
}

@media only screen and (min-width: 768px) {

    body {
        width: 1000px;
        margin: 50px 0px 20px 440px;
    }

    header {
        width: 434px;
    }

    .output-screen {
        width: 434px;
    }

    .numberpad-div {
        width: 434px;
    }

    .button {
        width: 90px;
    }

    .del-button {
        width: 90px;
    }

    .reset-button {
        width: 50%;

    }

    .result-button {
        width: 50%;
    }


}